.venv/
.idea/
__pycache__/
*.py[cod]
*$py.class

.env
.env.*

.DS_Store
Thumbs.db

*.log
.ipynb_checkpoints/

data/train/
data/val/
data/test.zip

result_resnet/*.keras
result_resnet/*.h5
result_CNN/*.h5
result_bayes/*.joblib
result_bayes/*cache*.npz
